notebooks/venv
models/gen_data/__pycache__
models/gen_data/actions/__pycache__
models/venv
data/raw
.venv/

foresight_env/
notebooks/salida
data/processed

models/foresight_preprocess/*.out
models/foresight_preprocess/*.jpg

models/foresight_nn/salida
models/foresight_nn/mlruns
models/foresight_nn/*.out
models/foresight_nn/*.jpg
models/foresight_nn/.env

models/foresight_xgb/*.out
models/foresight_xgb/*.jpg
models/foresight_xgb/.env

models/foresight_knn/*.out
models/foresight_knn/*.jpg
models/foresight_knn/.env

foresight/*.out
foresight/*.jpg

foresight/.env
foresight/https\x3a/
